/*===== VARIAVEIS =============================================================================================================*/

:root{
    --base1: 250px;
    --base2: 210px;
    --base3: 170px;
    --base4: 130px;

    --visivel: flex;
    --invisivel: none;
    
    --disco1-hover:rgb(192, 0, 0);
    --disco2-hover:rgb(209, 209, 0);
    --disco3-hover:rgb(0, 0, 155);
    --disco4-hover:rgb(0, 99, 0);

    
}

/*==================================================================================================================*/
body{
    
    width: 100%;
    display: flex;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    height: 1000px;
    background-image: linear-gradient( rgb(201, 201, 255),rgb(0, 0, 114));
    
}
/*==================================================================================================================*/
#main{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(231, 231, 255);
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#titulo{
    margin: 0;
    
    padding: 0;
    width: 100%;
    text-align: center;
    text-shadow: 2px 5px 10px #000000;
}

.instruções{
    
    width: 80%;
    
    
    margin: 20px;
    padding: 0;
    

}
.instruções h4{
    margin: 0;
    padding: 0;
}
.instruções p{
    margin: 0;
    padding: 0;
}
/*====== TORRE 1 ============================================================================================================*/
#torres{
    width: 100%;
    display: flex;
    justify-content: center;
}

.disco1{
    display: flex;
       
    margin: 0;
    padding: 0;
    width: 100px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
}

.disco2{
    display: flex;
       
    margin: 0;
    padding: 0;
    width: 150px;
    height: 40px;
    background-color: yellow;
    border-radius: 5px;
}

.disco3{
    display: flex;
       
    margin: 0;
    padding: 0;
    width: 200px;
    height: 40px;
    background-color: blue;
    border-radius: 5px;
}

.disco4{
    display: flex;
        
    margin: 0;
    padding: 0;    
    width: 250px;
    height: 40px;
    background-color: green;
    border-radius: 5px;
}
.disco1:hover{
    cursor: pointer;
    background-color:var(--disco1-hover);
}
.disco2:hover{
    cursor: pointer;
    background-color:var(--disco2-hover);
}
.disco3:hover{
    cursor: pointer;
    background-color:var(--disco3-hover);
}
.disco4:hover{
    cursor: pointer;
    background-color:var(--disco4-hover);
}

#torre1{
    
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    padding: 0;
    position: relative;
    margin: 0;
    border-radius: 10px;
    border-right: 2px solid rgb(151, 151, 255,0.603);  
    background-color: white;
    height: 300px;
    width: 30%;
}

#torre1 .pino{
    display: flex;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 250px;
    background-color: black;
}


/*====== TORRE 2============================================================================================================*/
#torre2{
    padding: 0;
    margin: 0;
    position: relative;
    border-radius: 10px;
    border-right: 2px solid rgb(151, 151, 255,0.603);
    display: flex;
    flex-direction: column-reverse;
    
    align-items: center;
    background-color: white;
    height: 300px;
    width: 30%;   
    border-left: 2px solid rgb(151, 151, 255, 0.603);
    background-color: white;
    
}
#torre2 .pino{
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 250px;
    background-color: black;
}


/*==================================================================================================================*/
#torre3{

    display: flex;
    flex-direction: column-reverse;
    position: relative;    
    align-items: center;  
    padding: 0;
    margin: 0;
    border-radius: 10px; 
    border-left: 2px solid rgba(151, 151, 255, 0.603);   
    background-color: white;
    height: 300px;
    width: 30%;
}
#torre3 .pino{
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 250px;
    background-color: black;
}

/*==================================================================================================================*/



/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/
